.rate-container
  position absolute
  left 90px
  top 85px
  .message
    color #5dc631
  button
    height 50px
    width 50px
    font-size 23px
    color #fff
    margin 0 6px
    i
      padding 13px 0 !important
    &.like
      background-color #5dc631
    &.dislike
      background-color #de3f2d

  .rate
    display flex
    justify-content space-around
    align-items center