div.comments(*ngIf='comments')
    md-list
        md-list-item(*ngFor='let comment of comments')
            span.user
                | {{comment.userName}}:
            span.text
                | {{comment.comment}}
.add-new
    md-input-container.input-container(dividerColor='accent')
        input(mdInput placeholder="Введіть коментар" type='text', [value]='newComment', (input)='newComment = $event.target.value')

    button.send(md-fab (click)='addComment(newComment)')
        md-icon().ico send
