.add-mom
  position absolute
  top -13px
  right -38px
  width 370px
  .input-container
    width 300px
    color #fff
    border-color #5dc631
  .send
    width 45px
    height 45px
    margin-left 20px
    background-color black
    border 2px solid #5dc631
    .ico
      line-height 10px
      color #5dc631