h2
  color #5dc631
.analytics
  overflow scroll
  max-height 620px
  div
    background-color rgba(255,255,255,.7)
    border-radius 5px
    margin 7px 0
    box-sizing border-box
    text-align center
    canvas
      max-width 80%
      margin auto
  .title
    color #000
    line-height 27px
