<div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="userViews.data"
                [labels]="userViews.times"
                [colors]="userViews.colors"
                [options]="userViews.options"
                [legend]="false"
                [chartType]="'line'"></canvas>
</div>
<div style="display: block">
  <canvas baseChart width="400" height="400"
          [data]="audience.data"
          [labels]="audience.labels"
          [chartType]="'pie'"
          [options]="audience.options"></canvas>
</div>
