.categories
  display flex
  flex-wrap wrap
  justify-content space-around
  cursor pointer
  .category
    min-width 600px
    height 370px
    overflow hidden
    margin 20px
    border-radius 5px
    position relative
    transition margin ease-out 100ms
    img
      width 100%
      margin-top -90px
    &:hover
      margin-top 15px
    .title
      display flex
      justify-content center
      align-items center
      background-color rgba(0,0,0,.8)
      margin-top -200px
      position absolute
      font-size 18px
      text-transform uppercase
      width 100%
      height 60px
      color #fff


