div.categories(*ngIf="categories")
  div.category(*ngFor="let category of categories" (click)="onSelect(category.id)")
    img([src]="category.image")
    .title(title="{{category.title}}")
      span {{category.title}}
