nav
  .list-wrapper
    .logo.item
      a(href="/")
    .item(*ngFor="let cat of mainCategories")
      a(title="{{cat.name}}" href="{{cat.url}}")
        img(src="{{cat.img_link}}")
    .item
      .search
        input(placeholder="Пошук" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Пошук'")
    .item
      a.login(href="/")
      div /
      a.reg(href="/")

