.hidden
  visibility hidden
  display none

.drop-menu
  position absolute

h1
  font-size 3em

.menu
  filter url("#shadowed-goo")
  position absolute
  left 50%
  margin-left -80px
  padding-top 20px
  padding-left 80px
  width 650px
  height 150px
  box-sizing border-box
  font-size 20px
  text-align left

.menu-item, .menu-open-button
  border 2px solid #5dc631
  background-color black
  border-radius 100%
  width 45px
  height 45px
  margin-left -140px
  position absolute
  top 35px
  color white
  text-align center
  line-height 45px
  transform translate3d(0, 0, 0)
  transition color ease-out transform ease-out 200ms

.menu-open
  display none
  &:checked
    & + .menu-open-button
      transition-timing-function linear
      transition-duration 200ms
      transform scale(0.8, 0.8) translate3d(0, 0, 0)
      .hamburger-1
        transform translate3d(0, 0, 0) rotate(45deg)
      .hamburger-2
        transform translate3d(0, 0, 0) scale(0.1, 1)
      .hamburger-3
        transform translate3d(0, 0, 0) rotate(-45deg)
    & ~ .menu-item
      transition-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
      &:nth-child(3)
        transition-duration 190ms
        transform translate3d(0, 60px, 0)
      &:nth-child(4)
        transition-duration 290ms
        transform translate3d(0, 115px, 0)
      &:nth-child(5)
        transition-duration 390ms
        transform translate3d(0, 172px, 0)
      &:nth-child(6)
        transition-duration 490ms
        transform translate3d(0, 231px, 0)
      &:nth-child(7)
        transition-duration 590ms
        transform translate3d(0, 292px, 0)

.hamburger
  width 25px
  height 3px
  background #5dc631
  display block
  position absolute
  top 50%
  left 50%
  margin-left -12.5px
  margin-top -1.5px
  transition transform 200ms

.hamburger-1
  transform translate3d(0, -8px, 0)

.hamburger-2
  transform translate3d(0, 0, 0)

.hamburger-3
  transform translate3d(0, 8px, 0)

.menu-item
  //transition color linear 0.3s
  color #5dc631
  &:hover
    color #fff
  &:nth-child(3)
    transition-duration 180ms
  &:nth-child(4)
    transition-duration 180ms
  &:nth-child(5)
    transition-duration 180ms
  &:nth-child(6)
    transition-duration 180ms

.menu-open-button
  z-index 2
  transition-timing-function cubic-bezier(0.175, 0.885, 0.32, 1.275)
  transition-duration 400ms
  transform scale(1.1, 1.1) translate3d(0, 0, 0)
  cursor pointer
  &:hover
    transform scale(1.2, 1.2) translate3d(0, 0, 0)
