h2 Рекомендації:
div.related-videos(*ngIf='relatedVideos')
    div.item(*ngFor='let video of relatedVideos', (click)='onSelect(video.videoid)')
        h3 {{video.title}}
        img([src]='video.image')
